@import "tailwindcss";

@theme {
  /* Adds a new custom color called "brand" */
  --color-darker: #27374D;
  --color-dark: #526D82;
  /* You can also create different shades */
  --color-light: #9DB2BF;
  --color-lighter: #DDE6ED;
  --color-white: #F8F9FA;
  --font-orbitron: var(--font-orbitron);
}